.container {
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#inputsContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputsContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addInputBtn {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 70px;
}

#removeInputBtn {
    text-align: center;
    margin-bottom: 10px;
}

#submitBtn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
}

#submitBtn:hover {
    background-color: #4CAF50;
    color: white;
}

#submitBtn:focus {
    outline: none;
}

#submitBtn:active {
    background-color: #45a049;
}

#submitBtn:disabled {
    background-color: #ccc;
    color: white;
}

#submitBtn:disabled:hover {
    background-color: #ccc;
    color: white;
}
